.col0 {
    background-color: #d7d9f2;
}

.col1 {
    background-color: #ffe8d4;
}

.col2 {
    background-color: #ffcccc;
}

.col3 {
    background-color: #90EE90;
}

caption {
    padding: 8px;
    caption-side: top;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(100, 100, 100);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .7rem;
}

td, th {
    border: 1px solid rgb(100, 100, 100);
    padding: 10px 10px;
}

td {
    text-align: center;
}