.col0 {
    background-color: #d7d9f2;
}

.col1 {
    background-color: #ffe8d4;
}

.col2 {
    background-color: #ffcccc;
}

.col3 {
    background-color: #90EE90;
}

tr th.sel:hover{
    background-color: lightblue;
    cursor: pointer;
}


caption {
    padding: 8px;
    caption-side: top;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(100, 100, 100);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .7rem;
    margin-bottom: 1.5em;
}

td, th {
    border: 1px solid rgb(100, 100, 100);
    padding: 10px 10px;
}

td {
    text-align: center;
}

input[type=text], input[type=number]  {
    border: 1px solid #707070;
    width: 30em;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
}

input[type=search]{
    border: 1px solid #707070;
    width: 10em;
    height: 2em;
    padding: 1em;
    box-sizing: border-box;
    border-radius: .5em;
    margin-top: 1.2em;
    margin-left: .5em;
}

.butadd{
    background-color: rgba(14, 123, 2, 0.92);
    border: none;
    width: 10em;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: .75em;
    cursor: pointer;
}

.butsel{
    background-color: rgba(14, 123, 2, 0.92);
    border: none;
    width: 23em;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-radius: .5em;
    font-size: .75em;
    cursor: pointer;
}