<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/main.css">
<link th:href="@{css/main.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Consultation eleve</title>
</head>
<body>
<h1>Page de Consultation des Eleves</h1>

<a href="eleve/creation">
    <button class="butadd" method="get">Ajouter un Eleve</button>
</a>

<a href="/">
    <button class="butadd" method="get">Menu</button>
</a>

<br>
<br>

<table>
    <caption>Table des Eleves</caption>
    <colgroup>
        <col span="1" class="col3">
        <col span="4" class="col1">
        <col span="1" class="col0">
        <col span="1" class="col2">
    </colgroup>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Age</th>
        <th scope="col">Adresse</th>
        <th scope="col">Modificaiton</th>
        <th scope="col">Supression</th>
    </tr>
    <th:block th:each="eleve : ${eleves}">
    <tr>
        <td th:text="${eleve.id}"></td>
        <td th:text="${eleve.nom}"></td>
        <td th:text="${eleve.prenom}"></td>
        <td th:text="${eleve.age}"></td>
        <td th:text="${eleve.adresse}"></td>
        <td>
            <a href="eleve/modification">
                <button>✏️</button>
            </a>
        </td>
        <td>
            <a href="eleve/supression">
                <button>X</button>
            </a>
        </td>
    </tr>
    </th:block>
</table>
</body>
</html>