<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/main.css">
<link th:href="@{css/main.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready( function () {
            $('#dataTable').DataTable();
        } );
    </script>
    <title>Consultation eleve</title>
</head>
<body>
<h1>Page de Consultation des Eleves</h1>

<a href="eleve/creation">
    <button class="butadd" method="get">Ajouter un Eleve</button>
</a>

<a href="/">
    <button class="butadd" method="get">Menu</button>
</a>

<br>
<br>

<table class="table table-striped" id="dataTable" data-page-length='50' data-order='[[1, "desc"]]'>
    <caption>Table des Eleves</caption>
    <colgroup>
        <col span="1" class="col3">
        <col span="4" class="col1">
        <col span="1" class="col0">
        <col span="1" class="col2">
    </colgroup>
    <thead>
        <tr>
            <th class="sel" scope="col">ID</th>
            <th class="sel" scope="col">Nom</th>
            <th class="sel" scope="col">Prenom</th>
            <th class="sel" scope="col">Age</th>
            <th class="sel" scope="col">Adresse</th>
            <th scope="col">Modificaiton</th>
            <th scope="col">Supression</th>
        </tr>
    </thead>
    <th:block th:each="eleve : ${eleves}">
    <tr>
        <td th:text="${eleve.id}"></td>
        <td th:text="${eleve.nom}"></td>
        <td th:text="${eleve.prenom}"></td>
        <td th:text="${eleve.age}"></td>
        <td th:text="${eleve.adresse}"></td>
        <td>
            <a th:href="@{/eleve/modification(eleveId=${eleve.id},eleve)}">
                <button>✏️</button>
            </a>
        </td>
        <td>
            <a th:href="@{/deleteEleve(eleveId=${eleve.id})}">
                <button>X</button>
            </a>
        </td>
    </tr>
    </th:block>
</table>
<br>
<br>
</body>
</html>