<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/main.css">
<link th:href="@{css/main.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8">
    <title>Consultation cours</title>
</head>
<body>
<h1>Page de Consultation des Cours</h1>

<a href="cours/creation">
    <button class="butadd" method="get">Ajouter un Cours</button>
</a>

<a href="/">
    <button class="butadd" method="get">Menu</button>
</a>

<br>
<br>

<table>
    <caption>Table des Cours</caption>
    <colgroup>
        <col span="1" class="col3">
        <col span="2" class="col1">
        <col span="1" class="col0">
        <col span="1" class="col2">
    </colgroup>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Debut</th>
        <th scope="col">Fin</th>
        <th scope="col">Modificaiton</th>
        <th scope="col">Supression</th>
    </tr>
    <th:block th:each="cour : ${cours}">
        <tr>
            <td th:text="${cour.id}"></td>
            <td th:text="${cour.debut}"></td>
            <td th:text="${cour.fin}"></td>
            <td>
                <a href="cours/modification">
                    <button>✏️</button>
                </a>
            </td>
            <td>
                <a href="cours/supression">
                    <button>X</button>
                </a>
            </td>
        </tr>
    </th:block>
</table>
</body>
</html>