<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Creation d'un Eleve</title>
</head>
<body>

<form th:action="@{/createSalle}" th:object="${Salle}" method="post">
    <div>
        <label>Nom de Salle:</label>
        <input type="text" th:field="*{nom}" placeholder="string" />
    </div>
    <div>
        <label>Code Salle:</label>
        <input type="text" th:field="*{code}" placeholder="string" />
    </div>

    <div>
        <label>Nombre de places:</label>
        <input type="number" th:field="*{age}" placeholder="integer" />
    </div>

    <input type="submit" value="Valider"/>
</form>
</body>
</html>