<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/main.css">
<link th:href="@{../css/main.css}" rel="stylesheet"/>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Creation d'un Cours</title>
</head>
<body>
<h1>Creation d'un Cours</h1>

<form action="#" th:action="@{/cours/creation}" th:object="${cours}" method="post">
    <label>Debut :</label>
    <br>
    <input type="datetime-local" th:field="*{debut}" placeholder="Debut" />
    <br>
    <label>Fin :</label>
    <br>
    <input type="datetime-local" th:field="*{fin}" placeholder="Fin" />
    <br>
    <br>
    <input class="butadd" type="submit" value="Valider"/>
</form>
<br>
<br>
<a href="/">
    <button class="butadd" method="get">Retour</button>
</a>

</body>
</html>