<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:href="@{../css/main.css}" rel="stylesheet"/>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Creation d'un Eleve</title>
</head>
<body>
<h1>Creation d'un Eleve</h1>

<form action="#" th:action="@{/eleve/creation}" th:object="${eleve}" method="post">
    <input type="text" th:field="*{nom}" placeholder="Nom" />
    <br>
    <input type="text" th:field="*{prenom}" placeholder="Prenom" />
    <br>
    <input type="number" th:field="*{age}" placeholder="Age" />
    <br>
    <input type="text" th:field="*{adresse}" placeholder="Adresse" />
    <br>
    <br>
    <input class="butadd" type="submit" value="Valider"/>
</form>
<br>
<br>
<a href="/">
    <button class="butadd" method="get">Retour</button>
</a>

</body>
</html>