<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/main.css">
<link th:href="@{../css/main.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8"/>
    <title>Modification d'un Eleve</title>
</head>
<body>
<h1>Modification d'un Eleve</h1>

<form action="#" th:action="@{/eleve/modification}" th:object="${eleve}" th:method="post">
    <br>
    <input type="number" th:field="*{id}" th:placeholder="eleve.id" />
    <br>
    <input type="text" th:field="*{nom}" th:placeholder="eleve.nom" />
    <br>
    <input type="text" th:field="*{prenom}" th:placeholder="eleve.prenom" />
    <br>
    <input type="number" th:field="*{age}" th:placeholder="eleve.age" />
    <br>
    <input type="text" th:field="*{adresse}" th:placeholder="eleve.adresse" />
    <br>
    <br>
    <input class="butadd" type="submit" value="Valider"/>
</form>
</body>
</html>