<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/main.css">
<link th:href="@{../css/main.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8"/>
    <title>Modification d'un Eleve</title>
</head>
<body>
<h1>Modification d'un Eleve</h1>

<th:block th:object="${oldEleve}">
<form action="#" th:action="@{eleve/creation}" th:object="${eleve}" method="post">
    <input type="text" th:field="*{nom}" th:placeholder="oldEleve.nom" />
    <br>
    <input type="text" th:field="*{prenom}" th:placeholder="oldEleve.prenom" />
    <br>
    <input type="number" th:field="*{age}" th:placeholder="oldEleve.age" />
    <br>
    <input type="text" th:field="*{adresse}" th:placeholder="oldEleve.adresse" />
    <br>
    <br>
    <input class="butadd" type="submit" value="Valider"/>
</form>
</th:block>
</body>
</html>