<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../static/css/main.css">
<link th:href="@{css/main.css}" rel="stylesheet"/>
<head>
    <meta charset="UTF-8"/>
    <title>Creation d'un Eleve</title>
</head>
<body>
<h1>Creation d'un Eleve</h1>
<form th:action="@{/modifyEleve}" th:object="${eleve}" method="post">
    <div>
        <input type="text" th:field="*{eleve.nom.placeholder}" th:placeholder="${nom}" />
    </div>
    <div>
        <input type="text" th:field="*{eleve.prenom.placeholder}" th:placeholder="${prenom}" />
    </div>

    <div>
        <input type="number" th:field="*{eleve.age.placeholder}" th:placeholder="${age}" />
    </div>
    <div>
        <label></label>
        <input type="text" th:field="*{eleve.adresse.placeholder}" th:placeholder="${adresse}" />
    </div>

    <br>
    <br>
    <input class="butadd" type="submit" value="Valider"/>
</form>
</body>
</html>